
<div class='lnd'>
    <div *ngIf='land != null'>
        <table class='table'>
            <tr>
               
                <td>Land Id</td>
                <td><input type='text' [(ngModel)]='land.landId' readonly></td>
            </tr>
            <tr>
                <td>Survey Number</td>
                <td><input type='text' [(ngModel)]='land.surveyNumber'></td>
            </tr>
            <tr>
                <td>Owner Name</td>
                <td><input type='text' [(ngModel)]='land.ownerName'></td>
            </tr>
            <tr>
                <td>Land Area</td>
                <td><input type='text' [(ngModel)]='land.landArea'></td>
            </tr>
        </table>
        
        <button (click)='updated()' class='btn btn-success btn-block'>Update</button>
        <button (click)='goBack()' class='btn btn-primary btn-block'>Back</button>



        <p class='alert alert-success' *ngIf='successMessage != null' (click)='successMessage=null'>
            {{successMessage}}
        </p>

    </div>

    <div *ngIf='errorMessage != null' class='alert alert-danger' (click)='errorMessage=null'>
        {{errorMessage}}
    </div>

    <div *ngIf='validationMessages != null' (click)='validationMessages=null'>
        <p *ngFor='let msg of validationMessages' class='alert alert-danger'>
            {{msg}}
        </p>
    </div>
</div>