
<div class='maindiv' *ngIf='errorMessage == null'>
    <h3 style='text-align:center;'>{{header}}</h3>
    <table class='table'>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Quantity</th>
        </tr>
        <tr *ngFor='let product of products' style='padding:2px'>
            <td>{{product.productId}}</td>
            <td>{{product.productName}}</td>
            <td>{{product.productDescription}}</td>
            <td>{{product.productQuantity}}</td>

            <td>
                <button class='btn btn-danger' (click)='delete(product.productId)'>Delete</button>
                &nbsp;
                <a [routerLink]="['/updateProduct', product.productId]" class='btn btn-primary'>Modify</a>
            
            </td>
        </tr>
    </table>

    <div *ngIf='message != null' (click)='message=null' class='alert alert-success'>
        {{message}}
    </div>
</div>

<div class='alert alert-danger' *ngIf='errorMessage != null'>
    <h2>{{errorMessage}}</h2>
</div>
