
<div class='adm'>
    <div *ngIf='admin!= null'>
        
        <table class='table'>
            <tr>
               
                <td>Admin Id</td>
                <td><input type='text' [(ngModel)]='admin.adminId' readonly></td>
            </tr>
            <tr>
                <td>Admin Name</td>
                <td><input type='text' [(ngModel)]='admin.adminName'></td>
            </tr>
            <tr>
                <td>Admin password</td>
                <td><input type='text' [(ngModel)]='admin.adminPassword'></td>
            </tr>
           
        </table>
        
        <button (click)='updated()' class='btn btn-success btn-block'>Update</button>
        <button (click)='goBack()' class='btn btn-primary btn-block'>Back</button>



        <p class='alert alert-success' *ngIf='successMessage != null' (click)='successMessage=null'>
            {{successMessage}}
        </p>

    </div>

    <div *ngIf='errorMessage != null' class='alert alert-danger' (click)='errorMessage=null'>
        {{errorMessage}}
    </div>

    <div *ngIf='validationMessages != null' (click)='validationMessages=null'>
        <p *ngFor='let msg of validationMessages' class='alert alert-danger'>
            {{msg}}
        </p>
    </div>
</div>